<div id="<%= dom_id request %>">
  <p>
    <strong>Request:</strong>
    <%= request.request_id %>
  </p>

  <p>
    <strong>Taker:</strong>
    <%= request.taker_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= request.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= request.description %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= request.item_name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= request.quantity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= request.status %>
  </p>

  <p>
    <strong>Start Time:</strong>
    <%= request.start_time %>
  </p>

  <p>
    <strong>End Time:</strong>
    <%= request.end_time %>
  </p>

</div>
