<div class="auth-container-wrapper">
  <div class="auth-container">
    <div class="logo">
      <%= image_tag 'logo.png', alt: 'Givers & Takers Logo', width: '100' %>
    </div>

    <!-- Forgot Password Form -->
    <div class="forgot-password-form">
      <h1>Reset your password</h1>
      <p>We'll send you instructions to reset your password.</p>
      
      <%= form_with(model: resource, as: resource_name, url: password_path(resource_name), local: true) do |f| %>
        <div class="form-group">
          <%= f.label :email, 'Email' %>
          <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', required: true, class: "form-control" %>
          <% if resource.errors[:email].any? %>
            <div class="error-message">
              Please enter a valid email address.
            </div>
          <% end %>
        </div>
        <%= f.submit "Reset password", class: "btn btn-primary" %>
      <% end %>

      <p class="text-center">
        <%= link_to 'Return to sign in', new_session_path(resource_name) %>
      </p>

      <p class="privacy-note">
        This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
      </p>
    </div>
  </div>
</div>
