<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Givers & Takers" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Favicon and Web App Icons -->
    <link rel="icon" href="<%= asset_path 'logo-removebg.png' %>" type="image/png"> <!-- Primary favicon -->
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="<%= asset_path 'logo-removebg.png' %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    
    <style>
      /* Ensure body takes the entire height and is vertically aligned */
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        background-color: white; /* Set a white background for the entire page */
      }

      /* Navbar Styling */
      .navbar {
        width: 100%;
        /* Additional styling as needed */
      }

      /* Content Styling */
    .content {
      width: 100%;
      flex: 1;
      background-color: white;
      margin: 0;
      padding: 0;
    }


      /* Footer Styling */
      .footer {
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div class="navbar">
      <%= render "navbar/navbar" %>
    </div>

    <div class="content">
      <%= yield %>
    </div>

    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
