<div class="giver-content">
  <div class="donation-leaderboard-wrapper">
    <div class="donation-container">
      <% if @givers.any? %>
        <div class="leaderboard">
          <h2>Top Givers</h2>
          <ul class="donators-list">
            <% @givers.each_with_index do |giver, i| %>
              <li>
                <span class="rank"><%= i + 1 %></span>
                <img 
                  src="<%= giver.image_url.present? ? giver.image_url : asset_path('organizer-avatar.png') %>" 
                  alt="<%= giver.first_name %>" 
                  class="donator-image">
                <span class="name">Name: <%= "#{giver.first_name} #{giver.last_name}" %></span>
                <span class="donates"><%= giver.total_interested_quantity || 0 %></span>
              </li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <p>No givers found.</p>
      <% end %>
    </div>
  </div>
</div>