<div class="outer-background">
  <div class="donation-leaderboard-wrapper">
    <div class="donation-container">
      <% if @takers.any? %>
        <h2>Top Takers</h2>
        <ul class="recipients-list">
          <% @takers.each_with_index do |taker, i| %>
            <li>
              <span class="rank"><%= i + 1 %></span>
              <img 
                src="<%= taker.image_url.present? ? taker.image_url : asset_path('organizer-avatar.png') %>" 
                alt="<%= "#{taker.first_name} #{taker.last_name}" %>" 
                class="recipient-image">
              <span class="name">Name: <%= "#{taker.first_name} #{taker.last_name}" %></span>
              <img src="<%= get_status_image(taker.status) %>" alt="<%= taker.status %>" class="status-image">

            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No takers found.</p>
      <% end %>
    </div>
  </div>
</div>

<style>
  .outer-background {
    background-color: #4A90E2;
    width: 100vw; /* Full viewport width */
    padding: 40px 0;
    display: flex;
    justify-content: center; /* Center the wrapper inside */
    align-items: center;
  }
</style>